Nodered_flow_waterGun.xml
[
    {
        "id": "80253b59.524c3",
        "type": "tab",
        "label": "Nodered_flow_WaterGun",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6c4cb1bf.1ebe",
        "type": "tmi-event-message",
        "z": "80253b59.524c3",
        "config": "",
        "name": "",
        "channels_filter": "",
        "users_filter": "",
        "action": true,
        "chat": true,
        "whisper": true,
        "regular": true,
        "mod": true,
        "subscriber": true,
        "broadcaster": true,
        "message_regexp": "",
        "message_flags": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "899454a0.d5005",
                "ee980ed2.273fd"
            ]
        ]
    },
    {
        "id": "899454a0.d5005",
        "type": "switch",
        "z": "80253b59.524c3",
        "name": "",
        "property": "payload.userstate.custom-reward-id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "your_reward_ID",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 100,
        "wires": [
            [
                "6fde795b.b23508"
            ]
        ]
    },
    {
        "id": "6fde795b.b23508",
        "type": "http request",
        "z": "80253b59.524c3",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://YOUR_ESP32_IP/waterGun",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 490,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "ee980ed2.273fd",
        "type": "debug",
        "z": "80253b59.524c3",
        "name": "Debug to find the reward ID",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.userstate.custom-reward-id",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 160,
        "wires": []
    }
]
